.box {
    padding: 2px;
    display: flex;
    margin: 20px 0;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.poc1 {
    background-color: aqua;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* z-index: -2; */
}

.hitbox-a {
    width: 50px;
    height: 50px;
    background-color: red;
}

.hitbox-b {
    width: 50px;
    height: 50px;
    background-color: blue;
}

.path {
    width: 100px;
    height: 50px;
    background-color: gray;
}

.draggable {
    width: 40px;
    position: absolute;
    cursor: move;
}

.pan {
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../assets/pan-round.png");
    background-size: contain;
}

.pan-handle {
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../assets/pan-handle.png");
    background-size: contain;
}

.hitbox-a.glow,
.hitbox-b.glow {
    box-shadow: 0 0 10px red;
}